<nav *ngIf="this.authService.isLoggedIn" style="padding-top:0px !important; padding-bottom:0px !important;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/landing">
        <h3 class="text-center">TEMPUS <i class="fa fa-clock-o" aria-hidden="true"></i></h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/landing">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a style="margin-right: 0.5em;" class="navbar-brand" class="btn btn-primary fa fa-user" routerLink="/user/"> Profile</a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button style="margin-right: 0.5em;" (click)="logout()" type="button" class="btn btn-danger fa fa-sign-out"> Logout</button>
        </div>
    </div>
</nav>