<p-messages [(value)]="msgs"></p-messages>
<h3>Company Information</h3>
<hr />
<p>Report: <input [(ngModel)]="company.companyReport"></p>
<p>Logo: </p>
<img src="{{ imageUrl }}" alt="">
<hr />
<div class="container row">
    <div class="col-md-12">
        <h4>Change Logo</h4>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">

    </div>
</div>
<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

<div class="col-md-6">
    <input type="button" (click)="onUpload()" value="Save">
</div>