<div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/equipment"> Equipment</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/duty"> Duty</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/shiftType"> Shift Type</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/workType"> Work Type</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/holidayType"> Holiday Type</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/holiday"> Holiday</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/warehouse"> Warehouse</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/parameter/codeTable"> Code Table</a>
        </div>
    </div>
</div>