<div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> Confirm List</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> Operations</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> Work Assignment</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system"> System</a>
        </div>
    </div>
</div>