<div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/equipment"> Equipment</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/duty"> Duty</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/shiftType"> Shift Type</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/company"> Company</a>
        </div>
    </div>
</div>