<div class="container">
    <div class="row">
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/equipment"> Equipment</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 2</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 3</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 4</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 5</a>
        </div>

        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 6</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 7</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 8</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 9</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 10</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 11</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="#"> 12</a>
        </div>
        <div class="col-sm">
            <a class="nav-link" routerLink="/system/company"> Company</a>
        </div>
    </div>
</div>